* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/bg.png);
  font-size: 18px;
  font-family: "Akaya Kanadaka", Arial, Helvetica, sans-serif;
  margin: 35px;
}

.container {
  display: grid;
  gap: 10px;
}

/* Header */
.brand h1 {
  font-size: 2em;
}

.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/hero01.png);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/hoodie02.png);
  background-size: cover;
  background-position: center;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/baju1.png);
  background-size: cover;
  background-position: center;
}

.features .price {
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
}

.item {
  font-size: 1em;
}

/* Navigasi */
.menu {
  display: grid;
  order: -1;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.5em;
  color: #333;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: salmon;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Humbutger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: salmon;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Nimasi */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 2em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-family: "Acme", sans-serif;
  font-size: 0.8em;
}

/* Products */
.col h2 {
  font-size: 2.3em;
}

.card-text {
  font-family: "Acme", sans-serif;
}

/* Responsive Breakpoit */

@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: salmon;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }
  .menu-toggle {
    display: flex;
  }
  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 45%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: salmon;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
